version: '3.7'
services:
  gateway:
    build:
      context: nginx/.
    image: beapen/nginx-gateway:latest
    restart: unless-stopped
    pull_policy: always
    depends_on:
      - frontend
      - backend
      - langserve
      - ollama-webui
      - fhir
      - langfuse
    ports:
      - '80:80'
  frontend:
    build:
      context: spa/.
    image: beapen/dhti-frontend:latest
    restart: unless-stopped
    pull_policy: always
    environment:
      SPA_PATH: /openmrs/spa
      API_URL: /openmrs
      SPA_CONFIG_URLS: /openmrs/spa/config-core_demo.json
      SPA_DEFAULT_LOCALE: null
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - http://localhost/
      timeout: 5s
    depends_on:
      - backend
  backend:
    image: openmrs/openmrs-reference-application-3-backend:${TAG:-3.0.0-beta.17}
    restart: unless-stopped
    depends_on:
      - db
    environment:
      OMRS_CONFIG_MODULE_WEB_ADMIN: 'true'
      OMRS_CONFIG_AUTO_UPDATE_DATABASE: 'true'
      OMRS_CONFIG_CREATE_TABLES: 'true'
      OMRS_CONFIG_CONNECTION_SERVER: db
      OMRS_CONFIG_CONNECTION_DATABASE: openmrs
      OMRS_CONFIG_CONNECTION_USERNAME: ${OPENMRS_DB_USER:-openmrs}
      OMRS_CONFIG_CONNECTION_PASSWORD: ${OPENMRS_DB_PASSWORD:-openmrs}
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - http://localhost:8080/openmrs
      timeout: 5s
    volumes:
      - openmrs-data:/openmrs/data
  db:
    image: mariadb:10.11.7
    restart: unless-stopped
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    healthcheck:
      test: >-
        mysql --user=${OMRS_DB_USER:-openmrs}
        --password=${OMRS_DB_PASSWORD:-openmrs} --execute "SHOW DATABASES;"
      interval: 3s
      timeout: 1s
      retries: 5
    environment:
      MYSQL_DATABASE: openmrs
      MYSQL_USER: ${OMRS_DB_USER:-openmrs}
      MYSQL_PASSWORD: ${OMRS_DB_PASSWORD:-openmrs}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-openmrs}
    volumes:
      - db-data:/var/lib/mysql
  langserve:
    build:
      context: genai/.
    image: beapen/genai:latest
    ports:
      - '8001:8001'
    restart: unless-stopped
    depends_on:
      - ollama
      - ollama-webui
      - fhir
      - backend
      - langfuse
    environment:
      - OLLAMA_SERVER_URL==http://ollama:11434
      - OLLAMA_WEBUI=http://ollama-webui:8080
      - LANGFUSE_HOST=http://langfuse:3000
      - LANGFUSE_PUBLIC_KEY=pk-lf-e07d0480-688d-4b94-b4cb-0970e2fb4923
      - LANGFUSE_SECRET_KEY=sk-lf-b472d20a-3cb5-4b23-ae1c-aea76fac8c06
  ollama:
    image: ollama/ollama:latest
    ports:
      - '11434:11434'
    volumes:
      - .:/code
      - ./ollama/ollama:/root/.ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
  ollama-webui:
    image: ghcr.io/open-webui/open-webui:main
    volumes:
      - ./ollama/ollama-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - '8080:8080'
    environment:
      - /ollama/api=http://ollama:11434/api
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
  fhir:
    image: alphora/cqf-ruler:0.14.0
    ports:
      - '8005:8080'
    volumes:
      - fhir-db:/usr/local/tomcat/target/database
    restart: unless-stopped
  langfuse:
    image: ghcr.io/langfuse/langfuse:latest
    depends_on:
      - langfuse-db
    ports:
      - '3000:3000'
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@langfuse-db:5432/postgres
      - NEXTAUTH_SECRET=mysecret
      - SALT=mysalt
      - NEXTAUTH_URL=http://langfuse:3000
      - TELEMETRY_ENABLED=${TELEMETRY_ENABLED:-false}
      - >-
        LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=${LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES:-false}
  langfuse-db:
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
    volumes:
      - langfuse_data:/var/lib/postgresql/data
  redis:
    image: redislabs/redisearch:2.8.8
    ports:
      - '6379:6379'
    restart: unless-stopped
volumes:
  openmrs-data: null
  db-data: null
  fhir-db: null
  langfuse_data: null
