name: tests

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - master
      - develop
jobs:
  unit-tests:
    strategy:
      matrix:
        # os: ['ubuntu-latest', 'windows-latest']
        os: [ubuntu-latest]
        # node_version: [lts/-1, lts/*, latest]
        node_version: [lts/*]
      # fail-fast: false
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
      - run: npm install
      - run: npm run build
      - run: npm run test
